    <project xmlns="http://maven.apache.org/POM/4.0.0">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <artifactId>coffeegames</artifactId>
        <groupId>com.sourceye.coffeegames</groupId>
        <version>master</version>
    </parent>
      <artifactId>voide</artifactId>
      <version>0.1.0</version>
    <dependencies>
        {generated_bzl_deps}
    </dependencies>
    </project>
