body {
  background-color: var(--background-2);
}

/* CSS HEX Color pallete
--cadet-blue-crayola: #acadbcff; <-- Background tints
--red-ryb: #ff220cff; <-- bad things
--purple-navy: #424874ff; <-- something
--emerald: #23ce6bff; <-- good things
--magic-mint: #aeffd8ff; <-- accents

background range: dark to light
1B1C22
24262D
2D3039
363A45
3F4350

*/
